# ============================================
# ZED Chatbot — Environment Variables
# ============================================
# Copy this file and rename it to: .env
# Never commit .env to GitHub!
# ============================================

# Get free key from: https://console.groq.com
# For POC: use Groq free tier (good enough)
# For production: Ministry will provide official LLM API key
GROQ_API_KEY= dddd

# App settings
APP_ENV=development       # change to "production" on Render
PORT=8000

# WhatsApp Meta Cloud API
META_WHATSAPP_TOKEN=EAATTHHJErrUBSe417ZCHkTRybRwh1m5o7n0QdsxZACpzHHQmL2DJgNYwWDkHVZAkZCiDsEDNUd5Esex4yXrTFwoIb9dv72crphnvWM4leZAIcjDEQGPefzdfQSla5hPQae4ytsmkvaqIotsBO3rcZAMUivGZCxhBjqsFlcA04o3YugaLjA4QNZAXywkryHA3or5AVsYjNvRtyXZCfcgEG19gGLWKe9LDa8ZB9bcJ9lRfGaIIGAp9KzHXFn8G0VSik0pxwB5uBLXCTTY4AxSbyOXnCq
META_PHONE_NUMBER_ID=1210659112140175
META_WEBHOOK_VERIFY_TOKEN=zed_secret_token_2026
